{% extends 'base.html' %}
{% block title %}Movie Info{% endblock %}

{% block content %}

<h1>{{ movie.title }}</h1>

<h2>Release Date: </h2> {{ movie.released_at.strftime('%B %d, %Y') }}<a href='{{ movie.imdb_url }}'><h2>IMDB Page </h2></a>

<p><span style='font-size: 14pt'>Eye's Rating:</span> {% if eye_rating == None %}
        {{ eye_rating }}
    {% else %}
        {{ '%0.2f' | format(eye_rating) }}</p>
    {% endif %}
<p><span style='font-size: 14pt'>Average rating:</span> {{ '%0.2f' | format(average) }}</p>
{% if prediction %}
    <p><span style='font-size: 14pt'>We predict you will rate this movie</span> {{ '%0.2f' | format(prediction) }}.</p>
{% endif %}

<p><span style='font-size: 14pt'>Eye's message to you:</span> {{ beratement }}</p>

{% if 'logged_in' in session %}
<h3>Your Rating: </h3>
<form action="/movies/{{ movie.movie_id }}" id="user-rating" method='POST'>
    Rating: <input type="number" id='score' name='score'>
    <input type="submit">
</form>
{% endif %}


<h3>Ratings:</h3>
<br>
<ul>
{% for key, value in movie_ratings.iteritems() %}
    <a href='/users/{{ key }}'><li>{{ value.username }}</a>: {{ value.score }} -- ({{ key }})</li>
{% endfor %}
</ul>


{% endblock %}